
$fuenteprincipal: 'Oswald', sans-serif;

$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #0e0d0d;
$blanco: #fff;
$moradovideo: #ba65e491;
$rosavideo: #d33751b2;

$delgada: 300;
$regular: 400;
$bold: 500;
$black:600;
